<div class="form">
  <div class="">
    <div class="">
      <!-- <div class="card-header">
        <h2>
          <span style="white-space: nowrap;">Ahuntsic</span>
        </h2>
      </div> -->
      <!--living  area -->

      <div class="card-body">
        <label>Caractéristiques de la maison unifamiliale</label>
        <div class="row mb-4">
          <div class="input-group col-lg-6">
            <div class="input-group-prepend">
              <span class="input-group-text" id="area-label"
                >📐 Sup. habitable
              </span>
            </div>
            <input
              id="areaInput"
              [(ngModel)]="livingArea"
              type="number"
              placeholder="exemple : 758"
              class="form-control border"
              aria-describedby="area-label"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="area-label">pi²</span>
              <div class="input-group-prepend"></div>
            </div>
            
          </div>
          <div class="col-lg-6 pt-3 pt-lg-1"></div>
        </div>
        <div class="row mb-4">
          <div class="input-group col-lg-6">
            <div class="input-group-prepend">
              <span class="input-group-text" id="area-label"
                >🌲 Sup. du terrain
              </span>
            </div>
            <input
              id="areaInput"
              [(ngModel)]="lotArea"
              type="number"
              placeholder="exemple : 3500"
              class="form-control border"
              aria-describedby="area-label"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="area-label">pi²</span>
              <div class="input-group-prepend"></div>
            </div>
            
          </div>
          <div class="col-lg-6 pt-3 pt-lg-1"></div>
          
        </div>
        
        <div class="row">
          <div class="col-lg-6">
            <div class="row mt-2">
              <div class="col-sm">
                <label>Année de construction</label>
              </div>
              <div class="col-sm">
                <select class="form-control" [(ngModel)]="constructionYear">
                  <option *ngFor="let year of years" value="{{ year }}">{{
                    year
                  }}</option>
                </select>
              </div>
            </div>
            
            <div class="row mt-2">
              <div class="col-sm mt-2">
                💎 Qualitée de la finition intérieure
              </div>
              <div class="col-sm">
                <select class="form-control" [(ngModel)]="quality">
                  <option value="1">1 - À démolir</option>
                  <option value="2">2 - Réparations requises</option>
                  <option value="3">3 - Viellot</option>
                  <option value="4">4 - Entrée de gamme</option>
                  <option value="5">5 - Décent</option>
                  <option value="6">6 - Medium gamme</option>
                  <option value="7">7 - Haut de gamme</option>
                  <option value="8">8 - Designer</option>
                  <option value="9">9 - Luxueux</option>
                  <option value="10">10 - Produit d'architecture</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row mt-2">
              <div class="col-sm">
                <label>Garage</label>
              </div>
              <div class="col-sm pl-4 pl-sm-1">
                <mat-radio-group
                  class="d-flex flex-column flex-md-row justify-content-md-start"
                  [(ngModel)]="nbGarage"
                >
                  <mat-radio-button value="0"> 0 </mat-radio-button>
                  <mat-radio-button value="1">
                    1
                  </mat-radio-button>
                  <mat-radio-button value="2"> 2 </mat-radio-button>
                  
                </mat-radio-group>
              </div>
              
            </div>
            
            
            <div class="row mt-2">
              <div class="col-sm">
                <label>🚿 Salle de bains complètes</label>
              </div>
              <div class="col-sm pl-5 pl-sm-1">
                <mat-radio-group
                  class="d-flex flex-column flex-md-row justify-content-md-start"
                  [(ngModel)]="nbWashrooms"
                >
                  <mat-radio-button value="1"> 1 </mat-radio-button>
                  <mat-radio-button value="2"> 2 </mat-radio-button>
                  <mat-radio-button value="3"> 3 </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
      <hr />
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label>Espace extérieur</label>
          <div class="">
            <div class="items-flex-list">
              <mat-checkbox [(ngModel)]="piscine"
                >Piscine
              </mat-checkbox>
              <mat-checkbox [(ngModel)]="waterfront"
                >Bord de l'eau</mat-checkbox
              >
            </div>
          </div>
        </li>
      </ul>
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label>Perks</label>
          <div class="">
            <div class="items-flex-list">
              <mat-checkbox [(ngModel)]="noisySt"
                >Rue passante / bruyante</mat-checkbox
              >

              <mat-checkbox [(ngModel)]="split"
                >Splitlevel 🏡</mat-checkbox
              >
              <mat-checkbox [(ngModel)]="parc"
                >Face à un parc</mat-checkbox
              >
              
            </div>
          </div>
        </li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label>Sous-Quartier</label>
          <div class="">
            <div class="items-flex-list">
              <mat-checkbox [(ngModel)]="eastPapineau"
                >À l'Est de Papineau</mat-checkbox
              >
              <mat-checkbox [(ngModel)]="nordChabanel">Au Nord de Chabanel</mat-checkbox>
              <mat-checkbox [(ngModel)]="newBordeaux"
                >Dans le Nouveau-Bordeaux</mat-checkbox
              >
              <mat-checkbox [(ngModel)]="core"
                >Entre Saint-Denis et Verville</mat-checkbox
              >
            </div>
          </div>
        </li>
      </ul>

      <!-- submit -->
      <div class="card-body d-flex justify-content-between">
        <button class="btn btn-outline-secondary" (click)="clearForm()">
          Effacer
        </button>
        <button class="btn yellow btn-outline-dark" (click)="getTotal()">
          Calculer 💸
        </button>
      </div>

      <div class="card-footer collapse bg-light" id="collapseExample">
        <div class="mt-3">
          <!-- <p class="">Your estimate:</p> -->
          <h3 class="special heading text-right">CAD {{ estimate }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngWormhole="'#saviezVous'">
  <p class="special heading">
    Dans Ahuntsic, ces éléments valent en moyenne:
  </p>
  <div class="row white">
    <div *ngFor="let item of leSaviezVous" class="col-md">
      <img
        class="svg-icon medium"
        src="./assets/icons/{{ item.icon }}.svg"
        alt=""
      />
      <h2 class="special heading">{{ item.price }}</h2>
      <p>{{ item.desc }}</p>
    </div>
  </div>
</div>