<div class="container">
  <div class="card my-3">
    <div class="card-header">
      <h2>Montreal / <span style="white-space:nowrap">Vieux-Montreal</span></h2>
    </div>
    <!-- area -->
    <div class="input-group card-body">
      <div class="input-group-prepend">
        <span class="input-group-text" id="area-label">Living area</span>
      </div>
      <input
        min="1"
        id="areaInput"
        [(ngModel)]="livingArea"
        type="number"
        placeholder="Area in square meters"
        class="form-control border"
        aria-describedby="area-label"
      />
      <div class="input-group-append">
        <span class="input-group-text" id="area-label">m2</span>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <!-- type -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm "><label>Type</label></div>
          <div class="col-sm pl-5 pl-sm-1">
            <mat-radio-group
              class="d-flex flex-column flex-md-row justify-content-md-start"
              [(ngModel)]="type"
            >
              <mat-radio-button value="condo">
                Condo
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </li>
      <!-- quality -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm mt-1">Indoor finish quality</div>
          <div class="col-sm py-0">
            <mat-slider
              [(ngModel)]="finishQuality"
              thumbLabel="true"
              class="w-100"
              min="1"
              max="10"
              step="1"
            ></mat-slider>
          </div>
        </div>
      </li>
      <!-- bedrooms -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm"><label>Number of bedrooms</label></div>
          <div class="col-sm pl-5 pl-sm-1">
            <mat-radio-group
              class="d-flex flex-column flex-md-row justify-content-md-start "
              [(ngModel)]="nbBedrooms"
            >
              <mat-radio-button value="1">
                1
              </mat-radio-button>
              <mat-radio-button value="2">
                2
              </mat-radio-button>
              <mat-radio-button value="3">
                3
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </li>
      <!-- toilets -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm"><label>Number of full bathrooms</label></div>
          <div class="col-sm pl-5 pl-sm-1">
            <mat-radio-group
              class="d-flex flex-column flex-md-row justify-content-md-start "
              [(ngModel)]="nbWashrooms"
            >
              <mat-radio-button value="1">
                1
              </mat-radio-button>
              <mat-radio-button value="2">
                2
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </li>

      <!-- checkboxes -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm">
            <label for="">Unique Features: </label>
          </div>
          <div class="col-sm col-sm pl-5 pl-sm-1 d-flex flex-column">
            <mat-checkbox [(ngModel)]="garage"
              >Has an Indoor Garage</mat-checkbox
            >
            <mat-checkbox [(ngModel)]="waterview"
              >Has unobstructed view of the water</mat-checkbox
            >

            <mat-checkbox [(ngModel)]="dtownview"
              >Has panoramic view of Downtown</mat-checkbox
            >
          </div>
        </div>
      </li>
    </ul>
    <!-- submit -->
    <div class="card-body d-flex justify-content-between">
      <button mat-raised-button (click)="clearForm()">Clear</button>
      <button mat-raised-button [color]="color" (click)="getTotal()">
        Get an estimate
      </button>
    </div>

    <div class="card-footer collapse" id="collapseExample">
      <div class="d-flex justify-content-between mt-3">
        <p class="">Your estimate:</p>
        <h3>CAD {{ estimate }}</h3>
      </div>
    </div>
  </div>
</div>
