<div class="w-100 yellow">
  <section class="pt-5 container">
    <div class="text-center">
      <h3 class="special heading">À quoi ça sert?</h3>
    </div>
    <div class="row">
      <div class="col-md-3 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="card-body">
            <h2 class="special">Courtiers immobilier</h2>
            <p>
              Utilisez la calculatrice pour vous accompagner dans vos
              estimations de propriétés. Très pratique pour les quartiers dont
              vous seriez moins familiers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="card-body">
            <h2 class="special">Propriétaires / vendeurs</h2>
            <p>
              Utilisez la calculatrice pour connaître le juste prix de vente à
              afficher ou simplement valider une estimation qui vous a été
              fournie.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="card-body">
            <h2 class="special">Acheteurs en processus</h2>
            <p>
              Utilisez la calculatrice pour magasiner et formulez des offres
              d'achat en pleine connaissance des prix du marché.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 container">
    <div class="text-center">
      <h3 class="special heading">D'où vient l'idée?</h3>
    </div>
    <div class="row">
      <div class="col-md-8 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="card-body">
            <p>
              Au départ, la calculatrice était simplement un formulaire Excel
              que nous avons créé pour accélérer le processus d'évaluation des
              maisons et le traitement des comparables vendus.
            </p>
            <p>
              À mesure que nous commencions à ajouter davantage de données dans
              notre formulaire l'outil et son algorithme qui roule derrière est
              devenu plus précis dans l'analyse des propriétés à vendre. Nous
              avons donc pris l'initiative de peaufiner cet outil et de le
              rendre sur le web. Est ainsi née La Calculatrice Immobilière.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 container">
    <div class="text-center">
      <h3 class="special heading">Crédits du site</h3>
    </div>
    <div class="row pt-5">
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff3.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Sébastien Millette</h2>
            <p>
              Créateur et chef du développement
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff1.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Jeff Lee</h2>
            <p>
              Marketing et communications
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff2.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Marie-Claude Bergeron</h2>
            <p>
              Conseillère en actuariat
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff4.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Jonathan Foldiak</h2>
            <p>
              Conseillé légal & propriété intellectuelle
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff5.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Lucas Rodi</h2>
            <p>
              Webmestre
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 container">
    <div class="text-center">
      <h3 class="special heading">Traitement des données</h3>
    </div>
    <div class="row">
      <div class="col-md-8 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="card-body">
            <p>
              La calculatrice agit en accord avec les règles de traitement de
              données de la loi sur le courtage immobilier du Québec.
            </p>
            <p>
              Elle ne publie aucune donnée de vente spécifique et aucune
              adresse.
            </p>
            <p>
              Elle agit simplement à titre d'interface entre le "big data" des
              dernières transaction des quartiers visés et les visiteurs qui
              entrent leurs critères dans le formulaire.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 container">
    <div class="text-center">
      <h3 class="special heading">Comment ça fonctionne?</h3>
    </div>
    <div class="row">
      <div class="col-md-8 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="card-body">
            <p>
              1 - La calculatrice analyse les données d'au moins les 500 plus
              récentes transactions de votre quartier.
            </p>
            <p>
              2 - Elle détermine ensuite les valeurs médianes ($) de chacun des
              éléments importants (superficies, stationnements, chambres,
              terrasse, finitions, étages, vues, walk-score etc.)
            </p>
            <p>
              3 - Elle suggère finalement le juste prix de vente de votre
              propriété en date d'aujourd'hui, selon les détails que vous entrez
              dans la calculatrice.
            </p>
          </div>
          <h3 class="special heading">
            C'est assez simple en réalité. C'est simplement du big data, des
            formulaires Excel et beaucoup de café!
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-md-9 beta">
        <h3 class="special heading">
          <img class="svg-icon small" src="./assets/icons/screw.svg" alt="" />
          La Calculatrice Immobilière™ est disponible au public en version BETA.
        </h3>
        <p>
          Elle se sent zero responsable des anomalies qui pourraient survenir.
        </p>
      </div>
      <div class="col-md-2 details">
        <p class="special heading">Contact</p>
        <ul>
          <li>Partenariats</li>

          <li>License et API</li>
          <li>Média et RP</li>
          <li>Légal advisor</li>
          <li>Trade Credentials</li>
        </ul>
      </div>

      <div class="col-md-2"></div>
    </div>
  </section>
</div>
