<div class="w-100 yellow">
  <section class="pt-5 container">
    <div class="text-center">
      <h3 class="special heading">À quoi ça sert?</h3>
    </div>
    <div class="row">
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="card-body">
            <h2 class="special">Courtiers immobilier</h2>
            <p>
              Utilisez la calculatrice pour vous accompagner dans vos
              estimations de propriétés. Pratique pour les quartiers avec
              lesquels vous seriez moins familiers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="card-body">
            <h2 class="special">Propriétaires / vendeurs</h2>
            <p>
              Utilisez la calculatrice pour connaître le juste prix de vente à
              afficher ou simplement valider une estimation qui vous a été
              fournie.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="card-body">
            <h2 class="special">Acheteurs en processus</h2>
            <p>
              Utilisez la calculatrice pour vous aider à magasiner en pleine
              connaissance des prix du marché.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-8 plan-img">
        <img class="border-thick" src="./assets/images/planning.jpg" alt="" />
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <div class="mx-auto">
          <h3 class="special2">D'où vient l'idée?</h3>
          <p>
            Au départ, la calculatrice était simplement un formulaire Excel que
            nous avions programmé pour accélérer le processus d'évaluation des
            condos / maisons et faire l'analyse habituelle des comparables
            vendus.
          </p>
          <p>
            À mesure que nous avons commencé à ajouter davantage de données dans
            notre formulaire, notre outil et son algorithme sont devenus
            beaucoup plus précis dans l'analyse et la détermination du prix de
            vente des propriétés à l'étude. Nous avons donc pris l'initiative de
            raffiner notre outil et de le rendre maintenant disponible au public
            sur le web en version BETA.
          </p>

          <p>Nous avons créé La Calculatrice Immobilière.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-5 container">
    <div class="text-center">
      <h3 class="special heading">Crédits du site</h3>
    </div>
    <div class="row pt-5">
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff3.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Sébastien Millette</h2>
            <p>
              Créateur et chef du développement
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff1.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Jeff Lee</h2>
            <p>
              Marketing et communications
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff2.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Marie-Claude Bergeron</h2>
            <p>
              Conseillère en actuariat
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff4.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Jonathan Foldiak</h2>
            <p>
              Conseiller légal & propriété intellectuelle
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff5.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Lucas Rodi</h2>
            <p>
              Webmestre
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 container">
    <div class="text-center">
      <h3 class="special heading">
        À propos du traitement des données et de l'information
      </h3>
    </div>
    <div class="row">
      <div class="col-md-8 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="card-body">
            <p>
              La calculatrice et son algorithme ont été programmés grâce à la
              lecture, l'analyse et la compilation des données du marché qui
              sont accessibles de plein droit par les détenteurs d'une license
              de courtage immobilier au Québec.
            </p>
            <p>
              L'approche purement mathématique qui détecte les tendances tirées
              du "big data" s'appuie donc uniquement sur des faits, points de
              données et comparables réels.
            </p>
            <p>
              La calculatrice ne publiera aucunes données de transactions en
              particulier et n'utilise aucun système de collecte de données
              automatisé qui serait proscrit dans le cadre des lois sur le
              courtage immobilier du Québec et les termes et conditions
              d'utilisation auxquelles doivent se plier tous les détenteurs
              d'une licences de courtage immobilier au Québec.
            </p>
            <p>
              Cet outil a été développé sous le signe de la recherche et de
              l'innovation par trois courtiers immobiliers désirant contribuer
              leurs talents connexes et leur créativité pour faire avancer
              l'industrie dans laquelle ils opèrent au quotidien.
            </p>
            <p>
              Tous commentaires constructifs, bémols, questionnements ou enjeux
              devraient être adressés cordialement et dans le respect par
              courriel dans le but de rapidement faire les ajustement
              nécessaires et continuer d'offrir au public un outil fiable,
              ouvert et simple d'utilisation.
            </p>
            <p>
              - L'équipe de Combien Ça Vaut.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
