<div class="w-100 yellow">
  <section class="pt-5 container">
    <div class="text-center">
      <h1 class="align-center mb-5">Notre équipe</h1>
    </div>
    <div class="row">
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff1.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Jeff Lee</h2>
            <p>
              Communications + Marketing 33 ans Reconnu pour ses nombreuses
              bonnes et mauvaises idées au fil des années, Jeff Lee s’est prouvé
              créatif et innovant en publicité et production de contenus en
              collabo avec des marques et des agences nationales depuis son
              arrivée dans le paysage Montréalais. Il détient une license de
              courtage immobilier et conclue des dizaines de transactions
              immobilières par année.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff2.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Marie-Claude Bergeron</h2>
            <p>
              Actuaire + Partenariats d’affaires 34 ans Avez plus de 10 années
              d’expérience en finances et private banking derrière la cravate,
              M-C contribue son expertise en actuariat et formulation comptables
              ainsi qu’un respectable réseau de contacts actifs sur la scène
              Montréalaise. Elle détient une license de courtage immobilier et
              conclue des dizaines de transactions immobilières par année.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <div class="card bg-transparent mx-auto border-0">
          <div class="img-staff">
            <img src="./assets/images/staff3.jpg" alt="" />
          </div>
          <div class="card-body">
            <h2 class="special">Sébastien Millette</h2>
            <p>
              Intégrateur + Chef produit 31 ans Longtemps directeur des ventes
              pour le plus grand détaillant Volvo de Montréal et consultant sur
              plusieurs projets techs, Sebastien sait comment bien capturer une
              opportunité en rassemblant une équipe béton qui peut accomplir les
              objectifs “on time and on budget”. Il détient une license de
              courtage immobilier et conclue des dizaines de transactions
              immobilières par année.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
