<div class="vertical-center" *ngIf="!loggedIn">
  <div class="w-50 m-auto">
    <h1 class="w-100 text-center my-5">
      ⚙️En beta!
    </h1>
    <h3
      href="mailto:calculatriceimmobiliere@gmail.com?subject=Mon commentaire sur votre Calculatrice"
      class="w-100 text-center my-5"
    >
      Pour toutes questions ou commentaires: calculatriceimmobiliere@gmail.com
    </h3>
    <form (submit)="signIn()">
      <input
        class="form-control"
        type="password"
        placeholder="Entrez le mot de passe..."
        [(ngModel)]="inputPassword"
        [ngModelOptions]="{ standalone: true }"
      />
      <button
        class="btn btn-primary align-right my-3 float-right"
        (click)="signIn()"
      >
        Entrez
      </button>
    </form>
  </div>
</div>

<div *ngIf="loggedIn" class="yellow">
  <nav class="navbar sticky-top">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['']">Combien Ça Vaut?</a>
      <a class="nav-link" [routerLink]="['payment']">Achat</a>
      <a class="nav-link" [routerLink]="['a-propos']">A propos</a>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <section class="container">
    <hr />
    <div class="row">
      <div class="col-md-9 beta">
        <h3 class="special heading">
          <img class="svg-icon small" src="./assets/icons/screw.svg" alt="" />
          La Calculatrice Immobilière™ est disponible au public en version BETA.
        </h3>

        <p>
          Elle se sent zero responsable des anomalies qui pourraient survenir.
        </p>
      </div>
      <div class="col-md-3 details">
        <p class="special heading">Contact</p>
        <ul>
          <li>
            <a class="footer-link" [routerLink]="['a-propos']">Partenariats</a>
          </li>
          <li>
            <a href="#top" class="footer-link" [routerLink]="['a-propos']"
              >License et API</a
            >
          </li>
          <li>
            <a class="footer-link" [routerLink]="['a-propos']">Média et RP</a>
          </li>
          <li>
            <a class="footer-link" [routerLink]="['a-propos']">Légal advisor</a>
          </li>
          <li>
            <a class="footer-link" [routerLink]="['a-propos']"
              >Trade Credentials</a
            >
          </li>
          <li>
            <a
              class="footer-email"
              href="mailto:calculatriceimmobiliere@gmail.com?subject=Mon commentaire sur votre Calculatrice"
              target="_blank"
              >Envoyez nous un Email</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-2"></div>
    </div>
  </section>
</div>
