<div class="">
  <nav class="navbar sticky-top navbar-expand-md">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['home']">Combien Ça Vaut?</a>
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button
              mat-raised-button
              class="bg-red mx-3"
              [matMenuTriggerFor]="calculator"
            >
              La calculatrice
            </button>
          </li>
          <mat-menu #calculator="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="choice1">
              Quartiers Centraux
            </button>
            <button mat-menu-item [matMenuTriggerFor]="choice2">
              West Island
            </button>
          </mat-menu>

          <mat-menu #choice1="matMenu">
            <a
              mat-menu-item
              class="nav-link"
              [routerLink]="['saint-henri-condo']"
              >Saint-Henri</a
            >
            <a mat-menu-item class="nav-link" [routerLink]="['plateau']"
              >Plateau Mont-Royal</a
            >
            <a
              mat-menu-item
              class="nav-link"
              [routerLink]="['ville-mont-royal-house']"
              >Ville Mont-Royal</a
            >
            <a
              mat-menu-item
              class="nav-link"
              [routerLink]="['bois-franc-house']"
              >Bois Franc</a
            >
            <a mat-menu-item class="nav-link" [routerLink]="['vieux-montreal']"
              >Vieux-Montreal</a
            >
            <a mat-menu-item class="nav-link" [routerLink]="['HoMa']">HoMa</a>
            <a mat-menu-item class="nav-link" [routerLink]="['rosemont']"
              >Rosemont</a
            >
            <a mat-menu-item class="nav-link" [routerLink]="['ndg']"
              >Notre-Dame-de-Grace</a
            >
          </mat-menu>

          <mat-menu #choice2="matMenu">
            <a mat-menu-item class="nav-link" [routerLink]="['dorval']"
              >Dorval</a
            >
            <a mat-menu-item class="nav-link" [routerLink]="['lachine']"
              >Lachine</a
            >
            <a mat-menu-item class="nav-link" [routerLink]="['pierrefond']"
              >Pierrefond/Roxboro</a
            >
          </mat-menu>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
