<div class="">
  <nav class="navbar navbar-expand-md justify-content-between">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['home']">Combien Ça Vaut?</a>
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown dropright">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarCalculatrice"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              La calculatrice
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarCalculatrice">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdown1"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Quartiers Centraux
              </a>

              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdown2"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                West Island
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown1">
                <a class="nav-link" [routerLink]="['saint-henri-condo']"
                  >Saint-Henri</a
                >
                <a class="nav-link" [routerLink]="['plateau']"
                  >Plateau Mont-Royal</a
                >
                <a class="nav-link" [routerLink]="['ville-mont-royal-house']"
                  >Ville Mont-Royal</a
                >
                <a class="nav-link" [routerLink]="['bois-franc-house']"
                  >Bois Franc</a
                >
                <a class="nav-link" [routerLink]="['vieux-montreal']"
                  >Vieux-Montreal</a
                >
                <a class="nav-link" [routerLink]="['HoMa']">HoMa</a>
                <a class="nav-link" [routerLink]="['rosemont']">Rosemont</a>
                <a class="nav-link" [routerLink]="['ndg']"
                  >Notre-Dame-de-Grace</a
                >
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdown2">
                <a class="nav-link" [routerLink]="['dorval']">Dorval</a>
                <a class="nav-link" [routerLink]="['lachine']">Lachine</a>
                <a class="nav-link" [routerLink]="['pierrefond']"
                  >Pierrefond/Roxboro</a
                >
              </div>
            </div>
          </li>

          <a class="nav-link" [routerLink]="['payment']">Payment</a>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
