<div class="front-page yellow">
  <section class="container">
    <div class="row title">
      <div class="col-lg-6 offset-lg-1 d-flex align-items-center">
        <h1 class="special brand">
          Combien <br />
          Ça Vaut? 💸
        </h1>
      </div>
      <div class="col-lg-4 d-flex align-items-center">
        <div class="w-100 w-sm-50">
          <p class="">
            La Calculatrice Immobilière™ indique le juste prix de vente d’une
            propriété basé sur les 500 dernières transactions de votre quartier.
          </p>
        </div>
      </div>
      <hr class="lead" />
    </div>
  </section>
  <section>
    <div class="border-thick content-section">
      <button class="calc-button" [matMenuTriggerFor]="choice1">
        {{ selectedCalculator }} &#x25BE;
      </button>

      <mat-menu #choice1="matMenu">
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/plateau-mont-royal']"
          >Plateau Mont-Royal</a
        >

        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/mileend']"
          >Mile-End</a
        >
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/rosemont']"
          >Rosemont</a
        >
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/petitepatrie']"
          >Petite-Patrie</a
        >
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/petiteitalie']"
          >Petite-Italie</a
        >
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/villeray']"
          >Villeray</a
        >
      </mat-menu>
      <router-outlet></router-outlet>
    </div>
  </section>
  <section class="text-center">
    <h2 class="special heading">Le saviez-vous?</h2>
    <div
      class="content-section white card-body border-thick"
      id="saviezVous"
    ></div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-3 section-icon"><p>🔬</p></div>
      <div class="col-9">
        <h1 class="special heading">
          Comment ça fonctionne?
        </h1>
        <ol class="instructions">
          <li>
            La calculatrice analyse les données des 500 plus récentes
            transactions de votre quartier.
          </li>
          <li>
            Elle détermine ensuite les valeurs médianes ($) de chacun des
            éléments importants (superficies, stationnements, chambres,
            terrasse, finitions, étages, vues, walk-score etc.)
          </li>
          <li>
            Elle suggère finalement le juste prix de vente de votre propriété en
            date d’aujourd’hui, selon les détails que vous entrez dans la
            calculatrice.
          </li>
        </ol>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-3 section-icon"><p>🚧</p></div>
      <div class="col-9">
        <h1 class="special heading">
          Quartiers en developpement
        </h1>
        <div class="instructions">
          <p>
            Chaque nouveau quartier analyser est evidement unique. C'est
            pourquoi les algorithmes qui analysent les donnees sont toujours
            testes et ajusters en etroite collaboration avec des experts
            immobiliers locaux, des actuaires et des ingenieurs de donnees.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 demo-img">
        <img class="border-thick" src="./assets/images/mtlmap.jpg" alt="" />
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <div class="quartiers mx-auto">
          <p>Quartiers Disponibles</p>
          <ul>
            <li>Plateau</li>
            <li>Mont-Royal</li>
            <li>Petite-Patrie</li>
            <li>HoMa</li>
            <li>Rosemont</li>
            <li>Villeray</li>
          </ul>
          <p>Bientot Disponibles</p>
          <ul>
            <li>Saint-Laurent</li>
            <li>Ahuntsic</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-md-9 beta">
        <h3 class="special heading">
          🔩 La Calculatrice Immobilière™ est disponible au public en version
          BETA.
        </h3>
        <p>
          Elle se sent zero responsable des anomalies qui pourraient survenir.
        </p>
      </div>
      <div class="col-md-2 details">
        <p class="special heading">Contact</p>
        <ul>
          <a class="nav-link" [routerLink]="['a-propos']">Partenariats</a>

          <li>License et API</li>
          <li>Média et RP</li>
          <li>Légal advisor</li>
          <li>Trade Credentials</li>
        </ul>
      </div>

      <div class="col-md-2"></div>
    </div>
  </section>
</div>
