<img
  class="w-100"
  src="https://images.pexels.com/photos/1642125/pexels-photo-1642125.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
  alt=""
/>
<section class="d-flex flex-column flex-md-row container">
  <div class="info-panels card">
    <div class="card-body">
      <img src="https://image.flaticon.com/icons/svg/2329/2329087.svg" alt="" />
      <p>
        We create our data by parsing through thousands of sales to understand
        how each is priced.
      </p>
    </div>
  </div>
  <div class="info-panels card">
    <div class="card-body">
      <img src="https://image.flaticon.com/icons/svg/1467/1467549.svg" alt="" />
      <p>
        We offer region specific estimating so you get a relevent price.
      </p>
    </div>
  </div>
  <div class="info-panels card">
    <div class="card-body">
      <img src="https://image.flaticon.com/icons/svg/2329/2329087.svg" alt="" />
      <p>
        Our services help home owners sale faster to a higher price. Our data
        also helps buyers study markets.
      </p>
    </div>
  </div>
</section>
