<div class="front-page yellow">
  <section class="container">
    <div class="row title">
      <div class="col align-items-center">
        
          <h3 class="subtitle">La Calculatrice Immobilière™️</h3>
          
      </div>
      
      <hr class="lead" />
    </div>
    <div class="row title">
      <div class="col-lg-8   align-items-center">
        
          
          <p class="liner">
            Mettez le doigt sur le juste prix d’une propriété.
          </p>
      </div>
      
      <hr class="lead" />
    </div>
  </section>
  <section>
    <div class="border-thick content-section">
      <button class="calc-button" [matMenuTriggerFor]="choice1">
        📍 {{ selectedCalculator }}
      </button>

      <mat-menu #choice1="matMenu">
        
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/plateau-mont-royal']"
          >Plateau Mont-Royal</a
        >

        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/mileend']"
          >Mile-End</a
        >
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/rosemont']"
          >Rosemont</a
        >
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/petitepatrie']"
          >Petite-Patrie</a
        >
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/petiteitalie']"
          >Petite-Italie</a
        >
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/villeray']"
          >Villeray</a
        >
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/vieux']"
          >Vieux-Montreal
        </a>
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/homa']"
          >Hochelaga-Maisoneuve
        </a>
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/ahuntsic']"
          >Ahuntsic 🆕
        </a>
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/cartierville']"
          >Cartierville 🆕
        </a>
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/bourgogne']"
          >Petite-Bourgogne 🆕
        </a>
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/stHenri']"
          >Saint-Henri 🆕
        </a>
        <a
          mat-menu-item
          class="nav-link"
          (click)="getTitle()"
          [routerLink]="['/psc']"
          >Pointe-Saint-Charles 🆕
        </a>
      </mat-menu>
      <router-outlet></router-outlet>
    </div>
  </section>
  <section class="text-center">
    <h2 class="special heading">Le saviez-vous?</h2>
    <div
      class="content-section white card-body border-thick"
      id="saviezVous"
    ></div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-3 section-icon">
        <img
          class="svg-icon large"
          src="./assets/icons/magnifying-glass.svg"
          alt=""
        />
      </div>
      <div class="col-9">
        <h1 class="special heading">Comment ça fonctionne?</h1>
        <ol class="instructions">
          <li>
            La calculatrice analyse les données de toutes les transactions des 5
            dernières années de votre quartier.
          </li>
          <li>
            Elle détermine ensuite les valeurs médianes ($) de chacun des
            éléments importants (superficie, stationnements, chambres,
            terrasse, finitions, étage, vues,  etc.)
          </li>
          <li>
            Elle suggère finalement le juste prix de vente de votre propriété en
            date d’aujourd’hui, selon les détails que vous entrez dans la
            calculatrice.
          </li>
        </ol>
      </div>
    </div>
    <h3 class="special heading">
      C'est assez simple en réalité. C'est simplement du big data et beaucoup de café!
    </h3>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-3 section-icon">
        <img class="svg-icon large" src="./assets/icons/road-work.svg" alt="" />
      </div>
      <div class="col-9">
        <h1 class="special heading">Quartiers en développement</h1>
        <div class="instructions">
          <p>
            Chaque nouveau quartier ajouté est évidemment unique. C'est pourquoi
            la calculatrice doit être bien calibrée pour tenir compte des
            facteurs distinctifs qui affectent les valeurs de propriétés.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 demo-img">
        <img
          class="border-thick"
          src="./assets/images/ahuntsicconstruction2.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <div class="quartiers mx-auto">
          <p>Quartiers Disponibles</p>
          <ul>
            <li>Plateau Mont-Royal</li>
            <li>Mile-End</li>
            <li>Rosemont</li>
            <li>Petite-Patrie</li>
            <li>Petite-Italie</li>
            <li>Villeray</li>
            <li>Vieux-Montreal</li>
            <li>Hochelaga-Maisoneuve</li>
            <li>Ahuntsic 🆕</li>
            <li>Cartierville 🆕</li>
          </ul>

          <p>Bientôt Disponibles</p>
          <ul>
            
            <li>Petite-Bourgogne - Novembre</li>
            <li>Saint-Henri - Novembre</li>
            <li>Petite-Bourgogne - Novembre</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
