<div class="container">
  <div class="card my-3">
    <div class="card-header">
      <h2>
        Montreal / <span style="white-space: nowrap;">Notre-Dame-de-Grace</span>
      </h2>
    </div>
    <div class="card-body">
      <!-- living area -->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Living area</span>
        </div>
        <input
          id="areaInput"
          type="number"
          [(ngModel)]="livingArea"
          class="form-control border"
          placeholder="Area in square meters"
        />
        <div class="input-group-append">
          <span class="input-group-text">m2</span>
        </div>
      </div>

      <!-- lot area -->
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Lot area</span>
        </div>
        <input
          id="areaInput2"
          type="number"
          [(ngModel)]="lotArea"
          class="form-control border"
          placeholder="Area in square meters"
        />
        <div class="input-group-append">
          <span class="input-group-text">sq/f</span>
        </div>
      </div>
    </div>

    <!-- Year -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row mt-3">
          <div class="col-sm">Type</div>
          <div class="col-sm">
            <mat-radio-group [(ngModel)]="type"
              ><mat-radio-button value="condo" disabled>Condo</mat-radio-button>
              <mat-radio-button value="house"
                >House</mat-radio-button
              ></mat-radio-group
            >
          </div>
        </div>
      </li>
      <!-- quality -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm">Overall Interior Quality</div>
          <div class="col-sm">
            <mat-radio-group
              class="d-flex flex-column flex-column justify-content-md-start"
              [(ngModel)]="quality"
            >
              <mat-radio-button value="1">
                1 - To be Demolished<mat-icon
                  class="info-text ml-2"
                  style="font-size: 1.2em;"
                  matTooltip="{{ popoverContent1 }}"
                  >info</mat-icon
                >
              </mat-radio-button>
              <mat-radio-button value="2">
                2 - Very Low Quality<mat-icon
                  class="info-text ml-2"
                  style="font-size: 1.2em;"
                  matTooltip="{{ popoverContent2 }}"
                  >info</mat-icon
                >
              </mat-radio-button>
              <mat-radio-button value="3">
                3 - Low Quality<mat-icon
                  class="info-text ml-2"
                  style="font-size: 1.2em;"
                  matTooltip="{{ popoverContent3 }}"
                  >info</mat-icon
                >
              </mat-radio-button>
              <mat-radio-button value="4">
                4 - Under Average<mat-icon
                  class="info-text ml-2"
                  style="font-size: 1.2em;"
                  matTooltip="{{ popoverContent4 }}"
                  >info</mat-icon
                >
              </mat-radio-button>
              <mat-radio-button value="5">
                5 - Average<mat-icon
                  class="info-text ml-2"
                  style="font-size: 1.2em;"
                  matTooltip="{{ popoverContent5 }}"
                  >info</mat-icon
                >
              </mat-radio-button>
              <mat-radio-button value="6">
                6 - Average upgraded<mat-icon
                  class="info-text ml-2"
                  style="font-size: 1.2em;"
                  matTooltip="{{ popoverContent6 }}"
                  >info</mat-icon
                >
              </mat-radio-button>
              <mat-radio-button value="7">
                7 - High Quality<mat-icon
                  class="info-text ml-2"
                  style="font-size: 1.2em;"
                  matTooltip="{{ popoverContent7 }}"
                  >info</mat-icon
                >
              </mat-radio-button>
              <mat-radio-button value="8">
                8 - Very High Quality<mat-icon
                  class="info-text ml-2"
                  style="font-size: 1.2em;"
                  matTooltip="{{ popoverContent8 }}"
                  >info</mat-icon
                >
              </mat-radio-button>
              <mat-radio-button value="9">
                9 - Luxury<mat-icon
                  class="info-text ml-2"
                  style="font-size: 1.2em;"
                  matTooltip="{{ popoverContent9 }}"
                  >info</mat-icon
                >
              </mat-radio-button>
              <mat-radio-button value="10">
                10 - Architect<mat-icon
                  class="info-text ml-2"
                  style="font-size: 1.2em;"
                  matTooltip="{{ popoverContent10 }}"
                  >info</mat-icon
                >
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </li>
      <!-- features -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm">
            Unique Features that add or remove value in Notre-Dame-de-Grace :
          </div>
          <div class="col-sm pl-5 pl-sm-1 d-flex flex-column">
            <mat-checkbox [(ngModel)]="pool">Has an Inground Pool</mat-checkbox>
            <mat-checkbox [(ngModel)]="noyard"
              >Does not have a backyard</mat-checkbox
            ><mat-checkbox [(ngModel)]="powder">Has a powder room</mat-checkbox>
            <mat-checkbox [(ngModel)]="east15"
              >Is east of Highway 15</mat-checkbox
            >
            <mat-checkbox [(ngModel)]="nsherbrooke"
              >Is North of Sherbrooke</mat-checkbox
            >
            <mat-checkbox [(ngModel)]="wcavendish"
              >Is east of Cavendish</mat-checkbox
            >
            <mat-checkbox [(ngModel)]="monkland"
              >Is in the Monkland Village</mat-checkbox
            >
          </div>
        </div>
      </li>
    </ul>

    <div class="card-body d-flex justify-content-between">
      <button mat-raised-button (click)="clearForm()">Clear</button>
      <button mat-raised-button [color]="color" (click)="getTotal()">
        Get Estimate
      </button>
    </div>

    <div class="card-footer collapse" id="collapseResult">
      <div class="d-flex justify-content-between mt-3">
        <p class="">Your estimate:</p>
        <h3>CAD {{ estimate }}</h3>
      </div>
    </div>
  </div>
</div>
