<div class="form">
  <div class="">
    <div class="">
      <!-- <div class="card-header">
        <h2>
          <span style="white-space: nowrap;">Plateau Mont-Royal</span>
        </h2>
      </div> -->
      <!--living  area -->

      <div class="card-body">
        <label>Caractéristiques de base du condo</label>
        <div class="row mb-4">
          <div class="input-group col-lg-6">
            <div class="input-group-prepend">
              <span class="input-group-text" id="area-label"
                >📐 Sup. habitable
              </span>
            </div>
            <input
              id="areaInput"
              [(ngModel)]="livingArea"
              type="number"
              placeholder="exemple : 758"
              class="form-control border"
              aria-describedby="area-label"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="area-label">pi²</span>
              <div class="input-group-prepend"></div>
            </div>
          </div>
          <div class="col-lg-6 pt-3 pt-lg-1"></div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="row mt-2">
              <div class="col-sm">
                <label>🛏️ Nombre de chambres</label>
              </div>
              <div class="col-sm pl-5 pl-sm-1">
                <mat-radio-group
                  class="d-flex flex-column flex-md-row justify-content-md-start"
                  [(ngModel)]="nbBedrooms"
                >
                  <mat-radio-button value="1"> 1 </mat-radio-button>
                  <mat-radio-button value="2"> 2 </mat-radio-button>
                  <mat-radio-button value="3"> 3 </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm">
                <label>🚿 Salle de bains complètes</label>
              </div>
              <div class="col-sm pl-5 pl-sm-1">
                <mat-radio-group
                  class="d-flex flex-column flex-md-row justify-content-md-start"
                  [(ngModel)]="nbWashrooms"
                >
                  <mat-radio-button value="0"> 1 </mat-radio-button>
                  <mat-radio-button value="1"> 2 </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm mt-2">
                💎 Qualitée de la finition intérieure
              </div>
              <div class="col-sm">
                <select class="form-control" [(ngModel)]="quality">
                  <option value="1">1 - À démolir</option>
                  <option value="2">2 - Réparations requises</option>
                  <option value="3">3 - Viellot</option>
                  <option value="4">4 - Entrée de gamme</option>
                  <option value="5">5 - Décent</option>
                  <option value="6">6 - Medium gamme</option>
                  <option value="7">7 - Haut de gamme</option>
                  <option value="8">8 - Designer</option>
                  <option value="9">9 - Luxueux</option>
                  <option value="10">10 - Produit d'architecture</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row mt-2">
              <div class="col-sm">
                <label>Type</label>
              </div>
              <div class="col-sm pl-4 pl-sm-1">
                <mat-radio-group
                  class="d-flex flex-column flex-md-row justify-content-md-start"
                  [(ngModel)]="type"
                >
                  <mat-radio-button value="condo"> Condo 🏢 </mat-radio-button>
                  <mat-radio-button value="house" disabled>
                    Maison 🏠
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm">
                <label>Nombre de Garage</label>
              </div>
              <div class="col-sm pl-4 pl-sm-1">
                <mat-radio-group
                  class="d-flex flex-column flex-md-row justify-content-md-start"
                  [(ngModel)]="nbGarage"
                >
                  <mat-radio-button value="0"> 0 </mat-radio-button>
                  <mat-radio-button value="1"> 1 </mat-radio-button>
                  <mat-radio-button value="2"> 2 </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label>Espace extérieur</label>
          <div class="">
            <div class="items-flex-list">
              <mat-checkbox [(ngModel)]="terrasse"
                >Terrasse ou cour intérieur
              </mat-checkbox>
            </div>
          </div>
        </li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label>Perks</label>
          <div class="">
            <div class="items-flex-list">
              <mat-checkbox [(ngModel)]="waterview">Vue sur l'eau</mat-checkbox>
              <mat-checkbox [(ngModel)]="waterview"
                >Vue sur le Centre-Ville</mat-checkbox
              >
            </div>
          </div>
        </li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label>Sous-Quartier</label>
          <div class="">
            <div class="items-flex-list">
              <mat-checkbox [(ngModel)]="eastBonsecour"
                >À l'Est de Bonsecour</mat-checkbox
              >
              <mat-checkbox [(ngModel)]="mcgill"
                >Dans le 1 McGill ave</mat-checkbox
              >
              <mat-checkbox [(ngModel)]="themens"
                >Dans le 10 Saint-Jacques</mat-checkbox
              >
              <mat-checkbox [(ngModel)]="viger">Proche de Viger</mat-checkbox>
            </div>
          </div>
        </li>
      </ul>
      <!-- submit -->
      <div class="card-body d-flex justify-content-between">
        <button class="btn btn-outline-secondary" (click)="clearForm()">
          Effacer
        </button>
        <button class="btn yellow btn-outline-dark" (click)="getTotal()">
          Calculer 💸
        </button>
      </div>

      <div class="card-footer collapse bg-light" id="collapseExample">
        <div class="mt-3">
          <!-- <p class="">Your estimate:</p> -->
          <h3 class="special heading text-right">CAD {{ estimate }}</h3>
          <p class="special heading text-right">
            <a href="mailto:seb.millette@gmail.com?subject=Je%20veux%20vendre%20ma%20propriété&body=Bonjour,%0D%0A%0D%0AJe%20chercher%20à%20vendre%20ma%20proprité%20située%20au%20:%20...%0D%0A%0D%0AVous%20pouvez%20me%20joindre%20au%20:%20...">
              Vous voulez vendre ?<br />On peut vous aider !
            </a>
          </p>
        </div>
      </div>

      <div class="card-footer collapse bg-light" id="errorMessage">
        <div class="mt-3">
          <div class="alert alert-danger text-right" role="alert">
            Superficie habitable manquante !
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngWormhole="'#saviezVous'">
  <p class="special heading">
    Dans le Vieux-Montréal, ces éléments valent en moyenne:
  </p>
  <div class="row white">
    <div *ngFor="let item of leSaviezVous" class="col-md">
      <img
        class="svg-icon medium"
        src="./assets/icons/{{ item.icon }}.svg"
        alt=""
      />
      <h2 class="special heading">{{ item.price }}</h2>
      <p>{{ item.desc }}</p>
    </div>
  </div>
</div>
