<div class="container">
  <div class="card my-3">
    <div class="card-header">
      <h2>
        Montreal / <span style="white-space: nowrap;">Ville Mont-Royal</span>
      </h2>
    </div>
    <div class="card-body">
      <!--living  area -->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="area-label">Living area </span>
        </div>
        <input
          id="areaInput"
          [(ngModel)]="livingArea"
          type="number"
          placeholder="Area in square meters"
          class="form-control border"
          aria-describedby="area-label"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="area-label">m2</span>
        </div>
      </div>
      <!--lot  area -->
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="area-label">Lot area</span>
        </div>
        <input
          id="areaInput"
          [(ngModel)]="lotArea"
          type="number"
          placeholder="Area in square meters"
          class="form-control border"
          aria-describedby="area-label"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="area-label">m2</span>
        </div>
      </div>
      <!-- construction year -->
      <div class="form-group mt-3">
        <div class="row">
          <div class="col-sm">
            <label>Construction year</label>
          </div>
          <div class="col-sm pl-5 pl-sm-1">
            <select class="form-control" [(ngModel)]="ConstructionYear">
              <option *ngFor="let year of years" value="{{ year }}">
                {{ year }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <!-- type -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm">
            <label>Type</label
            ><mat-icon
              class="info-text ml-2"
              style="font-size: 1.2em;"
              matTooltip="{{ popoverContent }}"
              >info</mat-icon
            >
          </div>
          <div class="col-sm pl-5 pl-sm-1">
            <mat-radio-group
              class="d-flex flex-column flex-md-row justify-content-md-start"
              [(ngModel)]="type"
            >
              <mat-radio-button value="condo" disabled>
                Condo
              </mat-radio-button>
              <mat-radio-button value="house">
                House
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </li>

      <!-- toilets -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm">
            <label>Number of full bathrooms</label>
            <mat-icon
              class="info-text ml-2"
              style="font-size: 1.2em;"
              matTooltip="{{ popoverContent2 }}"
              >info</mat-icon
            >
          </div>
          <div class="col-sm pl-5 pl-sm-1">
            <mat-radio-group
              class="d-flex flex-column flex-md-row justify-content-md-start"
              [(ngModel)]="nbWashrooms"
            >
              <mat-radio-button value="1">
                1
              </mat-radio-button>
              <mat-radio-button value="2">
                2
              </mat-radio-button>
              <mat-radio-button value="3">
                3
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </li>
      <!-- quality -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm mt-1">Indoor finish quality</div>
          <div class="col-sm py-0">
            <mat-slider
              [(ngModel)]="finishQuality"
              thumbLabel="true"
              class="w-100"
              min="1"
              max="10"
              step="1"
            ></mat-slider>
          </div>
        </div>
      </li>
      <!-- checkboxes -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm">
            <label for="">Unique Features: </label>
          </div>
          <div class="col-sm col-sm pl-5 pl-sm-1 d-flex flex-column">
            <mat-checkbox [(ngModel)]="CDN"
              >Located in Côte-des-Neiges</mat-checkbox
            >
            <mat-checkbox [(ngModel)]="eastOfRockland"
              >Located east of Rockland boul.</mat-checkbox
            >
            <mat-checkbox [(ngModel)]="detached">Detached</mat-checkbox>
            <mat-checkbox [(ngModel)]="sgl"
              >Sold witouth Legal Warranty</mat-checkbox
            >
            <mat-checkbox [(ngModel)]="yard">Has a backyard</mat-checkbox>
            <mat-checkbox [(ngModel)]="pool">Has an inground pool</mat-checkbox>
            <mat-checkbox [(ngModel)]="noisySt">On a busy street</mat-checkbox>
          </div>
        </div>
      </li>
    </ul>
    <!-- submit -->
    <div class="card-body d-flex justify-content-between">
      <button mat-raised-button (click)="clearForm()">Clear</button>
      <button mat-raised-button [color]="color" (click)="getTotal()">
        Get an estimate
      </button>
    </div>

    <div class="card-footer collapse" id="collapseExample">
      <div class="d-flex justify-content-between mt-3">
        <p class="">Your estimate:</p>
        <h3>CAD {{ estimate }}</h3>
      </div>
    </div>
  </div>
</div>
