<div class="col-lg-6 offset-lg-3">
  <h2>Condo - Saint-Henri Montreal</h2>

  <div class="card">
    <div class="card-body d-flex flex-column">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Superficie</span>
        </div>
        <input
          type="number"
          class="form-control"
          placeholder=""
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon1">m2</span>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <label class="mt-2">Qualite du fini</label>
        <mat-slider
          thumbLabel="true"
          class="w-50 mr-0"
          style="width: 100;"
          min="1"
          max="10"
          step="1"
          value="5"
        ></mat-slider>
      </div>

      <mat-checkbox>Basement</mat-checkbox>
      <mat-checkbox>Vue Eau</mat-checkbox>
      <mat-checkbox>Indivise</mat-checkbox>
      <mat-checkbox>Garage</mat-checkbox>
      <mat-checkbox>Rue passante/bruillante</mat-checkbox>
      <mat-checkbox>2e stationnement</mat-checkbox>
      <mat-checkbox>Nombre de salles de bain</mat-checkbox>
      <mat-checkbox>Basement</mat-checkbox>
      <mat-checkbox>Basement</mat-checkbox>

      <mat-radio-group class="d-flex justify-content-between">
        Nombre de salles de bain
        <mat-radio-button value="1">
          1
        </mat-radio-button>
        <mat-radio-button value="2">
          2
        </mat-radio-button>
        <mat-radio-button value="3">
          3
        </mat-radio-button>
      </mat-radio-group>
      <div class="d-flex flex-row">
        <mat-radio-group>option1 </mat-radio-group>
      </div>
    </div>
  </div>
</div>
